body {
  /* background-color: #282c34; */
  color: white;
}

.form {
  background-color: white;
}

.images {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.audio {
  padding: 5px;
  width: 150px;
}

.App {
  padding: 4rem;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
